#Cython>=3.0.0
numpy
opencv-python
scipy
matplotlib==3.8.0
scikit-image
future
colour-science
colour-checker-detection
ipympl
pillow
scikit-learn
pandas
plotly
largestinteriorrectangle
pydicom
#petsc4py==3.19.0 # from 3.20. there is requirement for Cython>=3.0.0
pyamg
